In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
movies_df=pd.read_csv('movies.csv',usecols=['movieId','title'],dtype={'movieId':'int32','title':'str'})
rating_df=pd.read_csv('ratings.csv',usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [3]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [5]:
df=pd.merge(rating_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [7]:
combine_movie_rating=df.dropna(axis=0,subset=['title'])
movie_ratingCount=(combine_movie_rating.groupby(by=['title'])['rating'].count().reset_index().rename(columns={'rating':'totalRatingCount'})[['title','totalRatingCount']])
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [8]:
rating_with_TotalRatingCount=combine_movie_rating.merge(movie_ratingCount,left_on='title',right_on='title',how='left')
rating_with_TotalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1     4.0  Toy Story (1995)               215
1       5        1     4.0  Toy Story (1995)               215
2       7        1     4.5  Toy Story (1995)               215
3      15        1     2.5  Toy Story (1995)               215
4      17        1     4.5  Toy Story (1995)               215

In [10]:
rating_with_TotalRatingCount.head(20)

    userId  movieId  rating             title  totalRatingCount
0        1        1     4.0  Toy Story (1995)               215
1        5        1     4.0  Toy Story (1995)               215
2        7        1     4.5  Toy Story (1995)               215
3       15        1     2.5  Toy Story (1995)               215
4       17        1     4.5  Toy Story (1995)               215
5       18        1     3.5  Toy Story (1995)               215
6       19        1     4.0  Toy Story (1995)               215
7       21        1     3.5  Toy Story (1995)               215
8       27        1     3.0  Toy Story (1995)               215
9       31        1     5.0  Toy Story (1995)               215
10      32        1     3.0  Toy Story (1995)               215
11      33        1     3.0  Toy Story (1995)               215
12      40        1     5.0  Toy Story (1995)               215
13      43        1     5.0  Toy Story (1995)               215
14      44        1     3.0  Toy Story (1995)               215
15      45        1     4.0  Toy Story (1995)               215
16      46        1     5.0  Toy Story (1995)               215
17      50        1     3.0  Toy Story (1995)               215
18      54        1     3.0  Toy Story (1995)               215
19      57        1     5.0  Toy Story (1995)               215

In [9]:
movie_ratingCount['totalRatingCount'].describe()

count    9719.000000
mean       10.375141
std        22.406220
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: totalRatingCount, dtype: float64

In [12]:
popularity_threshold=50
rating_popular_movie=rating_with_TotalRatingCount.query('totalRatingCount>=@popularity_threshold')
rating_popular_movie.tail()

       userId  movieId  rating                 title  totalRatingCount
79246     603     1997     4.0  Exorcist, The (1973)                53
79247     606     1997     3.0  Exorcist, The (1973)                53
79248     607     1997     5.0  Exorcist, The (1973)                53
79249     608     1997     4.5  Exorcist, The (1973)                53
79250     610     1997     4.0  Exorcist, The (1973)                53

In [17]:
#Pivot Table
movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0

In [18]:
from scipy.sparse import csr_matrix
movie_features_df_matrix=csr_matrix(movie_features_df.values)

In [19]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(metric='cosine',algorithm='brute')
model.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [20]:
movie_features_df_matrix.shape

(450, 606)

In [22]:
query_index=np.random.choice(movie_features_df.shape[0])
print(query_index)
distances,indices=model.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1,-1),n_neighbors=6)

370

In [23]:
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0

In [26]:
for i in range(0,len(distances.flatten())):
    if(i==0):
        print('Recommendation for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1},with distance of {2}:'.format(i,movie_features_df.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendation for Spaceballs (1987):

1: Austin Powers: International Man of Mystery (1997),with distance of 0.46565574407577515:
2: RoboCop (1987),with distance of 0.4856029748916626:
3: Caddyshack (1980),with distance of 0.485767662525177:
4: Predator (1987),with distance of 0.49222421646118164:
5: Indiana Jones and the Temple of Doom (1984),with distance of 0.4967920780181885: